@import url('https://fonts.googleapis.com/css2?family=Anonymous+Pro&family=Inter:wght@200;300&family=Montserrat:wght@100;400;500;700&family=Roboto+Mono:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500&display=swap');

html{
  background-color: #14213d;
  height: 100vh;
  display: flex; 
  justify-content: center; 
}



.grid-container {
  
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-gap: 5px;
  margin: 0 auto;
  border: 2px solid #fff;
  padding: 15px;
  border-radius: 15px;
}
.grid-cell {
  width: 25px;
  height: 25px;
  border: 1px solid #ccc;
  font-size: 18px;
  cursor: pointer;
  background-color: #fff;
  border: 1px solid #001d3d;
  border-radius: 5px;
  text-align: center;
  font-family: 'Roboto Mono', monospace;
}

.start-cell{
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-family: 'Roboto Mono', monospace;
  background-color: #ffcc00;
}

.clicked-cell{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffcc00;

}

.goal {
  background-color: #ffcc00; /* Set the background color for the goal cell */
  color: black; 
  /* Add other styling as needed */
}

.valid-move {
  background-color: #aaffaa;/* Highlight valid moves */

}

.congratulations{
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Raleway', sans-serif;
  animation: zoom ease 3s 1 normal forwards;
  color: #fff;

}

h1{
  font-size: 3rem;
}

#restart-btn{
  width: 70px;
  height: 30px;
  border-radius: 15px;
  margin: 0 10px 10px 0;
  background-color: #ffcc00;
  border: 3px solid #fff;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  cursor: pointer;
  transition: box-shadow 0.3s; /* Add a transition for a smooth effect */

}

#restart-btn:hover {
  box-shadow: inset 0 0 30px rgba(0, 0, 0, 0.3);
}

/* Add this inside your CSS or style tag in HTML */
@keyframes confetti {
  0% {
      transform: translateY(0) rotate(0deg);
  }
  100% {
      transform: translateY(-500px) rotate(360deg);
  }
}

.confetti {
  width: 40px;
  height: 150px;
  background-color: #f00; /* You can set the confetti color */
  position: absolute;
  opacity: 0.7;
  animation: confetti 3s ease-out infinite;
}

.name{
  color: #fff;
  font-family: 'Playfair Display', serif;
  margin-bottom: 20%;
  font-size: 2rem;
  justify-content: center;
  display: flex;
  border: 2px solid #fff;
  border-radius: 15px;
  padding: 5%;
}

.game-over-animation {
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  position: fixed;
  text-align: center;
  top: 0;
  left: 0;
  width: 100%;
  color: white;
  font-size: 22px;
  font-family: 'Roboto Mono', monospace;
  animation: game-over-animation 2s ease-in-out;
}

#play-again-btn{
  width: 170px;
  height: 50px;
  border-radius: 15px;
  margin: 0 10px 10px 0;
  background-color: #ffcc00;
  border: 3px solid #fff;
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
  transition: box-shadow 0.3s; /* Add a transition for a smooth effect */

}

#play-again-btn:hover {
  box-shadow: inset 0 0 30px rgba(0, 0, 0, 0.3);
}

.instructions {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 250px;
  width: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  font-family: 'Poppins', sans-serif;
  color: #fff;
  background: rgba(0, 0, 0, 0.47);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(9.5px);
  -webkit-backdrop-filter: blur(9.5px);
  border: 1px solid rgba(0, 0, 0, 0.14);
}

.instructions > h1 {
  position: relative;
  font-size: 40px;
  margin-top: -20px;
}

.instructions > p {
  position: relative;
  width: 70%;
}


@keyframes game-over-animation {
  0% {
      opacity: 0;
      transform: scale(0.5);
  }
  100% {
      opacity: 1;
      transform: scale(1);
  }
}



@keyframes zoom {
	0% {
		transform: scaleX(0.4);
	}

	100% {
		transform: scaleX(1);
	}
}

@media only screen and (max-width: 600px){
 
  .instructions{
    height: 40vh;
    width: 90vw;
  }
}